<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>House</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.house.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAdminServlet</display-name>
    <servlet-name>QueryAdminServlet</servlet-name>
    <servlet-class>com.house.servlet.QueryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdminServlet</servlet-name>
    <url-pattern>/QueryAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllDataServlet</display-name>
    <servlet-name>GetAllDataServlet</servlet-name>
    <servlet-class>com.house.servlet.GetAllDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDataServlet</servlet-name>
    <url-pattern>/GetAllDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoChartsServlet</display-name>
    <servlet-name>DoChartsServlet</servlet-name>
    <servlet-class>com.house.servlet.DoChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoChartsServlet</servlet-name>
    <url-pattern>/DoChartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseServlet</display-name>
    <servlet-name>AddHouseServlet</servlet-name>
    <servlet-class>com.house.servlet.AddHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseServlet</servlet-name>
    <url-pattern>/AddHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllHouseServlet</display-name>
    <servlet-name>QueryAllHouseServlet</servlet-name>
    <servlet-class>com.house.servlet.QueryAllHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllHouseServlet</servlet-name>
    <url-pattern>/QueryAllHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletHouseServlet</display-name>
    <servlet-name>DeletHouseServlet</servlet-name>
    <servlet-class>com.house.servlet.DeletHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletHouseServlet</servlet-name>
    <url-pattern>/DeletHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerydirectionServlet</display-name>
    <servlet-name>QuerydirectionServlet</servlet-name>
    <servlet-class>com.house.servlet.QuerydirectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerydirectionServlet</servlet-name>
    <url-pattern>/QuerydirectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseServlet</display-name>
    <servlet-name>UseServlet</servlet-name>
    <servlet-class>com.house.servlet.UseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseServlet</servlet-name>
    <url-pattern>/UseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseDLServlet</display-name>
    <servlet-name>UseDLServlet</servlet-name>
    <servlet-class>com.house.servlet.UseDLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseDLServlet</servlet-name>
    <url-pattern>/UseDLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseaddServlet</display-name>
    <servlet-name>HouseaddServlet</servlet-name>
    <servlet-class>com.house.servlet.HouseaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseaddServlet</servlet-name>
    <url-pattern>/HouseaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouandUseServlet</display-name>
    <servlet-name>HouandUseServlet</servlet-name>
    <servlet-class>com.house.servlet.HouandUseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouandUseServlet</servlet-name>
    <url-pattern>/HouandUseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanduanServlet</display-name>
    <servlet-name>PanduanServlet</servlet-name>
    <servlet-class>com.house.servlet.PanduanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanduanServlet</servlet-name>
    <url-pattern>/PanduanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseDeleteServlet</display-name>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <servlet-class>com.house.servlet.HouseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <url-pattern>/HouseDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Houseadd2Servlet</display-name>
    <servlet-name>Houseadd2Servlet</servlet-name>
    <servlet-class>com.house.servlet.Houseadd2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Houseadd2Servlet</servlet-name>
    <url-pattern>/Houseadd2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseandUseServlet2</display-name>
    <servlet-name>HouseandUseServlet2</servlet-name>
    <servlet-class>com.house.servlet.HouseandUseServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseandUseServlet2</servlet-name>
    <url-pattern>/HouseandUseServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseDeleteServlet2</display-name>
    <servlet-name>HouseDeleteServlet2</servlet-name>
    <servlet-class>com.house.servlet.HouseDeleteServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseDeleteServlet2</servlet-name>
    <url-pattern>/HouseDeleteServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Housequerybymoney</display-name>
    <servlet-name>Housequerybymoney</servlet-name>
    <servlet-class>com.house.servlet.Housequerybymoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Housequerybymoney</servlet-name>
    <url-pattern>/Housequerybymoney</url-pattern>
  </servlet-mapping>
</web-app>